body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f4f4f4 !important;
}

.cart-item {
  vertical-align: middle !important;
}

.cart-total {
  vertical-align: middle;
  padding-right: 10px;
}

.filter {
  position: static;
}

.navbar-default {
  background-color: #F94E18 !important;
  border-color: #E7E7E7;
}


/* title */

.navbar-default .navbar-brand {
  color: #FFFFFF !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
  background-color: rgba(0, 0, 0, .1);
}


/* link */

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF !important;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #333;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #E7E7E7;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #555;
  background-color: #D5D5D5;
}


/* caret */

.navbar-default .navbar-nav>.dropdown>a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret,
.navbar-default .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}


/* mobile version */

.navbar-default .navbar-toggle {
  border-color: #DDD;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #CCC;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #333;
  }
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}

.text-box {
  background: #fdfdfd;
  border: 1px solid #e8e8e8;
  border-radius: .4rem;
  height: 40px;
  transition: border-color .25s ease;
  outline: 0;
  position: relative;
  cursor: text;
}

.text-box.search {
  border-radius: 2rem;
  min-width: 200px;
  vertical-align: middle;
}

.icon {
  position: relative;
}

.text-box .icon {
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 8px 0;
  float: left;
}

.text-box .input {
  height: 24px;
  margin: 8px;
  padding: 0;
  overflow: hidden;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: 0;
  line-height: 24px;
  background: 0 0;
}

.search-input {
  width: 100%;
  border: none;
}

.search-input:focus {
  outline: none;
}

.product-items {
  margin-top: 8px;
  margin-bottom: 8px;
}

.no-padding-right {
  padding-right: 0 !important;
}

.view-product-item {
  box-sizing: border-box;
  margin-bottom: 15px;
}

.product-item-link {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.8);
  display: block;
}

.view-product-item .col-md- * {
  padding-bottom: 15px;
}

.product-items .col-md- *:last-child {
  padding-bottom: 0;
}

.create-product {
  height: 300px;
  background: 0 0 !important;
  border: .2rem dashed #bababa;
  position: relative;
  box-shadow: none !important;
}

.create-product .button {
  display: block;
  margin: 10px auto;
}

.create-product>.button {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 50%;
  top: 45%;
  margin: -24px 0 0 -24px;
  text-align: center;
  background: #00bfa5;
  border-radius: 100%;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, .09);
  background-color: white;
}

.img-wrap {
  position: relative;
  display: inline-block;
  border: 1px red solid;
  font-size: 0;
}

.img-wrap .delete {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  background-color: #FFF;
  padding: 5px 2px 2px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  opacity: .2;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
}

.img-wrap:hover .delete {
  opacity: 1;
}

.view-product-item .img-responsive {
  width: 100%;
  height: 200px;
}

.no-margin-right {
  margin-right: 0 !important;
}

.side-bar a:hover {
  text-decoration: none;
  color: #E91E63;
}

.active {
  text-decoration: none;
  color: #E91E63;
}

.product-description,
.comment-wrapper {
  padding: 1.6rem;
  background-color: #FFF;
  margin-top: 10px;
}

.product-rating {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 1.6rem 0;
  margin-left: 2rem;
  display: flex;
}

.product-rating-avatar {
  width: 4rem;
  margin-right: 1rem;
  text-align: center;
}

.product-rating-main {
  flex: 1;
}

.product-rating-content {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.display-inline-block {
  display: inline-block;
}

.rsr input {
  display: none;
}

.order-content {
  cursor: pointer;
  user-select: none;
  display: flex;
  padding: 2rem;
}

.order-image {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  flex-shrink: 0;
  justify-content: space-around;
  position: relative;
  width: 8rem;
  height: 8rem;
  background-color: white;
}

.order-content-detail {
  word-wrap: break-word;
  padding-left: 2rem;
  min-width: 0;
  flex-shrink: 1;
  margin-right: 1rem;
}

.order-content-desciption {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.user-side-menu {
  border: 1px solid rgb(217, 217, 217);
  border-image: initial;
  background-color: #FFF;
}

.selected-link {
  border-left-color: #ff5722 !important;
  background-color: #f8f8f8;
}

.user-side-menu a:hover {
  text-decoration: none;
}

.report-wrapper {
  margin: 8px;
}

.margin-top-15 {
  margin-top: 15px;
}

.login-form {
  background-color: #FFF;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 10px 10px 60px 10px;
}

.contents {
  margin-top: 20px;
}

.product-wrapper {
  background-color: #FFF;
}

.product-item-full {
  cursor: pointer;
  user-select: none;
  padding: 0;
  transition: transform cubic-bezier(0.4, 0, 0.6, 1) 0.1s, box-shadow cubic-bezier(0.4, 0, 0.6, 1) 0.1s;
}

.product-item-shadow {
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: visible;
}

.product-item-shadow .product-item-cover-image {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  overflow: hidden;
}

.product-item {
  background-color: white;
  cursor: pointer;
  position: relative;
}

.product-item-cover-image {
  margin-bottom: .5rem;
  position: relative;
}

.image-placeholder {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: #fafafa;
}

.product-item-cover-image-background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.product-item-lower-padding {
  padding: 0 1rem 1rem 1rem;
}

.product-item-text-name {
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.8rem;
  height: 3.5rem;
}

.product-item-section-price {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 2.4rem;
}

.product-item-original-price {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
}

.product-item-full .product-item-section-price {
  padding: .5rem 0 1.5rem 0;
}

.product-item-current-price {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #ff5722;
  flex-shrink: 0;
  max-width: 100%;
}

.product-item-current-price-free-shipping {
  max-width: 100%;
}

.product-item-spacer {
  flex: 1;
}

.product-item .icon-free-shipping {
  font-size: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
  line-height: 1;
  margin-left: .2rem;
}

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
  pointer-events: none;
}

.product-item-full .product-item-section-actions {
  display: flex;
}

.product-item-full .product-item-likes,
.product-item-full .product-item-comments {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.26);
  cursor: pointer;
  font-size: 1rem;
}

.rating-stars {
  position: relative;
  display: inline-block;
}

.product-item-badge-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.shop-badge {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 4px 2px 3px 2px;
}

.shop-badge-fixed-width {
  width: 38px;
  height: 35px;
}

.shop-badge-new {
  background-color: rgba(0, 191, 165, 0.85);
  padding-top: 3px;
}

.shop-badge-new::after {
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: -4px;
  border-style: solid;
  position: absolute;
  border-width: 0 19px 4px 19px;
  border-color: transparent rgba(0, 191, 165, 0.85) transparent rgba(0, 191, 165, 0.85);
}

.shop-badge-promotion {
  background-color: rgba(255, 212, 36, 0.9);
}

.shop-badge-promotion-label-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  font-weight: bold;
  line-height: 12px;
  color: #ff5722;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.shop-badge-promotion-label-wrapper-off-label {
  color: white;
  margin: 2px 0;
}

.shop-badge-promotion::after {
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: -4px;
  border-style: solid;
  position: absolute;
  border-width: 0 19px 4px 19px;
  border-color: transparent rgba(255, 212, 36, 0.9) transparent rgba(255, 212, 36, 0.9);
}

.product-item-badge-wrapper .shop-badge,
.product-info-header-right-section .shop-badge {
  float: right;
  margin-left: .5rem;
}

.shop-badge-new-label {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 31px;
  text-transform: uppercase;
}

.product-item-delete {
  position: absolute;
  left: 15px;
  top: 0;
}

.product-item-delete button {
  height: 30px !important;
  width: 30px !important;
}

.product-item-delete svg {
  height: 32px !important;
}

.view-product-item .col-md- * {
  margin-bottom: 15px !important;
}

.filter {
  background-color: #FFF;
  padding-left: 12px;
  padding-right: 12px;
}

.filter h4 {
  border-bottom: 1px solid #E6E6E6;
}

.compare-product {
  background-color: #FFF;
}

.compare-product .img-responsive {
  height: 200px;
}

.cart-view {
  background-color: #FFF;
}

.product-comment-list {
  margin-top: 10px;
  background-color: #FFF;
}

.cart-bottom {
  padding-right: 25px !important;
  padding-bottom: 10px;
}

.product-info {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  padding: 2rem;
  border-radius: 2px;
}

.product-info-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding-bottom: 1.6rem;
  position: relative;
  display: flex;
}

.product-info-header-left-section {
  flex: 1;
  width: 500px;
  padding-right: 2rem;
}

.product-info-header-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem;
  font-weight: 500;
  display: block;
}

.product-info-header-price {
  display: flex;
  align-items: center;
  margin-top: .8rem;
}

.product-info-header-price-before-discount {
  display: inline-block;
  margin-right: 1.2rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.54);
  text-transform: capitalize;
}

.product-info-header-price-before-discount-number {
  text-decoration: line-through;
}

.product-info-header-real-price {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: #ff5722;
  text-transform: capitalize;
}

.product-info-header-rating {
  display: flex;
}

.product-info-header-right-section {
  display: flex;
}

.product-info-body {
  padding: 1.6rem 0 0 0;
}

.product-info-body-order-block {
  margin-top: .2rem;
  padding-top: 1.8rem;
}

.product-info-body-row {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
  font-size: 1.4rem;
}

.product-info-body-label {
  margin-right: 1rem;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.4rem;
  display: inline-block;
  text-transform: capitalize;
}

.product-info-body-content {
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
}

.product-info-body-order-quantity {
  display: flex;
  align-items: center;
}

.product-info-body-input-quantity {
  display: flex;
  align-items: center;
}

.product-info-body-order-quantity-stock-count {
  margin-left: 1rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
}

.product-info-body-input-quantity b {
  background-color: #FFF !important;
}

.react-numberic-input {
  width: 80px;
}

.react-numberic-input b {
  background-color: #FFF !important;
}

.product-info-footer {
  padding-top: 2rem;
  display: flex;
}

.shop-button {
  margin-right: 4px;
}

.shop-button:last-child {
  margin-right: 0;
}

.order-confirm-address {
  background-color: #FFF;
  padding: 8px;
}

.order-confirm-item {
  position: relative;
  height: 100px;
  padding: 10px 12px 0 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  margin-left: 72px;
}

.order-confirm-item:last-child {
  border-bottom: none;
}

.order-confirm-item-info {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
}

.order-confirm-item-icon {
  position: absolute;
  top: 2px;
  left: -60px;
  height: 52px;
  width: 52px;
  background-size: 52px 52px;
}

.order-confirm-item-name {
  position: relative;
  margin-top: -2px;
  display: inline-block;
}

.order-confirm-item-price .old {
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
  display: inline-block;
}

.order-confirm-item-price .old:first-child {
  margin-left: 0;
  margin-right: 4px;
}

.order-confirm-item-price .new {
  display: inline-block;
  color: #ff5722;
}

.order-confirm-items {
  background-color: #FFF;
}

.order-confirm-item .center-part {
  display: flex;
  text-align: right;
}

.order-confirm-item .item-quantity {
  color: rgba(0, 0, 0, 0.54);
}

.order-confirm-footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-confirm-footer-left-section {
  flex: 1;
  width: 200px;
  padding-right: 2rem;
}

.order-confirm-footer-right-section {
  float: right;
  margin-left: 0.5rem;
}

.tracking-order {
  background: #FFF;
  margin: auto;
  padding: 8px;
}

.tracking-order-info-header {
  border: 1px solid #ddd;
  padding: 8px;
}

.tracking-order-title {
  font-size: 2rem;
  font-weight: 600;
}

.tracking-order-info-content {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ddd;
}

.tracking-order-info-content-address {
  border-bottom: 1px solid #ddd;
}

.tracking-order-info-content-items {
  margin-top: 8px;
}

.tracking-order-info-content-items h4 {
  margin-top: 20px;
}

.tracking-order-total {
  text-align: right;
}

.tracking-order-total .title {
  display: inline-block;
}

.tracking-order-total .price {
  display: inline-block;
  color: #ff5722;
  font-size: 3rem;
}

tr:hover {
  cursor: pointer;
}

.date-picker-label {
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

.date-picker {
  display: inline-block;
  width: 100px;
}

.recharts-default-legend {
  margin-top: 20px !important;
}

.edit-product {
  background: #FFF;
  padding: 12px;
}

.product-recommend-items {
  margin-top: 3rem;
}

.header-section-header {
  display: flex;
  align-items: center;
  padding: 0 0 0.5rem 0
}

.header-section-simple>.header-section-header {
  padding-left: .5rem;
}

.header-section-header-title {
  font-size: 2rem;
  text-transform: uppercase;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 2rem;
}

.header-section-simple . .header-section-header-title {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
}

.header-section-header a, .header-section-header a:hover {
  text-decoration: none !important;
  color: #ff5722;
}

.header-section-header-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  display: block;
}

.header-section-content {
  padding-top: 0.5rem;
}

.product-recommend-items .header-section-content {
  position: relative;
  margin: -.2rem -.5rem;
}

.product-add-new {
  background: #FFF;
  padding: 8px;
}